@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Mobile */
@media only screen and (max-width: 450px) and (min-width: 300px) {
    #banner-image {
        max-height: 60vh;
    }
    .banner-image-div {
        display: flex;
        justify-content: center;
    }
    #banner-subtitle {
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align: center;
        padding: 10px;
        font-family: 'Josefin Sans';
    }
    #banner-subtitle-text {
        font-size: 1.3rem;
        color: #929191;
    }
    .feature-card {
        background-color: grey;
        min-width: 70vw;
        max-width: 70vw;
        min-height: 15vh;
        text-align: center;
        border-radius: 25px;
    }
    .feature-img {
        height: 15vh;
        margin-top: 2vh;
    }
    #slideshow {
        background-color: #1e1e1f;
        margin: 20px;
        border-radius: 15px;
        padding: 30px;
        min-height: 60vh;
        max-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

/* Tablet */
@media only screen and (max-width: 1024px) and (min-width: 700px) {
    #banner-image {
        max-height: 60vh;
    }
    .banner-image-div {
        display: flex;
        justify-content: center;
    }
    #banner-subtitle {
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align: justify;
        padding: 10px;
        font-family: 'Josefin Sans';
    }
    #banner-subtitle-text {
        font-size: 1.3rem;
        color: #929191;
    }
    .feature-card {
        background-color: grey;
        min-width: 40vw;
        max-width: 70vw;
        min-height: 15vh;
        text-align: center;
        border-radius: 25px;
    }
    .feature-img {
        height: 15vh;
        margin-top: 1vh;
    }
    #slideshow {
        background-color: #1e1e1f;
        margin: 20px;
        border-radius: 15px;
        padding: 30px;
        min-height: 60vh;
        max-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

/* Desktop */
@media only screen and (max-width: 1920px) and (min-width:1024px) {
    #banner-image {
        max-height: 75vh;
    }
    #landing-title {
        font-size: 4rem;
    }
    .banner-image-div {
        display: flex;
        justify-content: center;
    }
    #banner-subtitle {
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align: justify;
        padding: 10px;
        font-family: 'Josefin Sans';
    }
    #banner-subtitle-text {
        font-size: 1.5rem;
        color: #929191;
    }
    .feature-card {
        background-color: grey;
        min-width: 20vw;
        max-width: 15vw;
        min-height: 24vh;
        text-align: center;
        border-radius: 25px;
    }
    .feature-img {
        height: 15vh;
        margin-top: 2vh;
    }
    #slideshow {
        background-color: #1e1e1f;
        margin: 20px;
        border-radius: 15px;
        padding: 30px;
        min-height: 60vh;
        max-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

/* Common */

html {
    scroll-behavior: smooth;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-address-div {
    text-align: center;
    background-color: yellow;
}

#login-button.buttons {
    display: flex;
    justify-content: center;
}

#landing-hero-body {
    background-image: url("../images/banner-background.jpg");
    background-repeat: no-repeat;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 6.5rem);
}

#landing-title {
    color: White;
    font-family: 'Josefin Sans';
    text-align: center;
}

#landing-banner {
    background-color: #020305;
    min-height: calc(100vh - 25vh);
    border-radius: 15px;
}
#landing-subtitle {
    color: White;
    font-family: 'Josefin Sans';
}
#banner-title-fitness {
    color: Black;
    background-color: yellow;
    font-weight: 700;
}

.banner-title-div {
    display: flex;
    align-items: center;
    min-height: 50%;
}

.title-banner-row {
    min-height: 80vh;
}

.button.is-black {
    background-color: #0b0d10;
}
.button.is-black:hover {
    background-color: #1e1e1f;
}
.banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#navbar {
    background-color: black;
}

.navbar-item {
    color: white;
}

#feature-container {
    min-height: 80vh;
    border-radius: 15px;
}

.feature-title {
    font-family: 'Josefin Sans';
    font-size: 2rem;
}

.feature-block{
    display:flex;
    justify-content: center;
}

#feature-card-section{
    margin-top:2vh;
    margin-bottom:2vh;
    text-align: center;
}

.title {
    font-family: 'Josefin Sans';
}

#slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#results-title{
    text-align: center;
    margin-bottom: 5vh;
}

